<body (window:scroll)="doSomethingOnInternalScroll($event)">
    <nav id="navbar" class="navbar navbar-expand-sm header-nav navbar-dark fixed-top">
        <div class="col">
            <div class="navbar-brand">
                <div class="navbar-nav">
                    <a class="nav-link" href="index.html">
                        <h1>Ibanez's Music Store</h1>
                    </a>
                </div>
                <p>
                    <img src="assets/images/star-k-logo.png" alt="Kosher Certification">
                    <span>Oficial Products: Yamaha & Ibanez</span>
                </p>
            </div>
        </div>


        <div class="col navbar-brand">
            <a class="nav justify-content-center" href='#'>
                <div>
                    <img src='assets/images/mainLogo1.png' width="400" alt="Main Logo">
                </div>
            </a>
        </div>

        <div class="col navbar-brand ">
            <div class="nav justify-content-end">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Link 1</a>
                    <a class="nav-item nav-link" href="#">Link 2</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </nav>


    <div class="container-fluid" style="margin-top:160px">

    </div>


</body>