<body (window:scroll)="doSomethingOnInternalScroll($event)">
    <nav id="navbar" class="navbar navbar-expand-sm header-nav navbar-dark fixed-top">
        <div class="col">
            <div class="navbar-brand">
                <div class="navbar-nav">
                    <a class="nav-link" href="index.html">
                        <h1>Ibanez's Music Store</h1>
                    </a>
                </div>
                <p>
                    <span>Oficial Products: Yamaha & Ibanez</span>
                </p>
            </div>
        </div>


        <div class="col navbar-brand">
            <a class="nav justify-content-center" href='#'>
                <div>
                    <img src='assets/images/mainLogo1.png' width="400" alt="Main Logo">
                </div>
            </a>
        </div>

        <div class="col navbar-brand ">
            <div class="nav justify-content-end">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Link 1</a>
                    <a class="nav-item nav-link" href="#">Link 2</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                           
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" data-toggle="tooltip" title="Comming soon" href="#" >Link
                                3 <button disabled="disabled" title="My Tooltip"> 
                                    Disabled Button 
                                  </button> </a>
                        </div>
                    </div>
                </div>
                <span class="navbar-text">
                    <a data-toggle="modal" data-target="#loginModal">
                        <span class="fas fa-sign-in-alt"></span> Login</a>
                </span>
            </div>
        </div>


    </nav>
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                                <input type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail3"
                                    placeholder="Enter email">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputPassword3">Password</label>
                                <input type="password" class="form-control form-control-sm mr-1"
                                    id="exampleInputPassword3" placeholder="Password">
                            </div>
                            <div class="col-sm-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto"
                                data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</body>