#logo-img {
    background: url() no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
  }

  .header-nav {
    background-color: #000000;
    border-radius: 0;
    border: 0;
  }

  .myClass a:hover {
      text-decoration: none;
  }

  #login {
    cursor: pointer;
  }
  