<body (window:scroll)="doSomethingOnInternalScroll($event)">
    <nav id="navbar" class="navbar navbar-expand-sm header-nav navbar-dark fixed-top">
        <div class="col">
            <div class="navbar-brand">
                <div class="navbar-nav">
                    <a class="nav-link" href="index.html">
                        <h1>Ibanez's Music Store</h1>
                    </a>
                </div>
                <p>
                    <span>Oficial Products: Yamaha & Ibanez</span>
                </p>
            </div>
        </div>

        <div class="col navbar-brand">
            <a class="nav justify-content-center" routerLink="">
                <div>
                    <img src='assets/images/mainLogo1.png' width="400" alt="Main Logo">
                </div>
            </a>
        </div>

        <div class="col navbar-brand ">
            <div class="nav justify-content-end">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" routerLink="">Stores</a>
                    <a class="nav-item nav-link" href="#">Link 2</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>

                            <div class="dropdown-divider"></div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" data-toggle="tooltip" title="Comming soon" href="#">Link
                                3 <button disabled="disabled" title="My Tooltip">
                                    Disabled Button
                                </button> </a>
                        </div>
                    </div>
                </div>
                <span class="navbar-text">
                    <a data-toggle="modal" data-target="#loginModal" style="cursor: pointer;"
                        *ngIf="isLogged == false; else elseBlock">
                        <span id="login" class="fas fa-sign-in-alt"></span> Login</a>
                    <ng-template #elseBlock>
                        <a style="cursor: pointer;" (click)="onLogout()">
                            <span id="login"></span> Sign off <i class="fas fa-sign-out-alt"></i></a>
                    </ng-template>
                </span>
            </div>
        </div>
    </nav>

    <!-- Login Modal  -->
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onLogin(login)">
                        <div class="form-row">
                            <div class="form-group col-5">
                                <label class="sr-only" for="email">Email address</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]="login.email"
                                    placeholder="Enter your Email">
                            </div>
                            <div class="form-group col-5">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="login.password"
                                    placeholder="Password">
                            </div>

                            <div class="form-group col-12">
                                <span>Don't have an account? </span>
                                <a href data-toggle="modal" data-dismiss="modal" data-target="#createAccountModal">
                                    Create an account
                                </a>
                                <button type="button" class="btn btn-secondary offset-4"
                                    data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary ml-1">Sign in</button>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <span id="resMessage"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Create an Account Modal -->
    <div id="createAccountModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create an Acount </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onCreateAccount(createUser)">
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label class="sr-only" for="email">Email address</label>
                                <input type="email" class="form-control mr-1" name="email"
                                    [(ngModel)]="createUser.email" placeholder="Enter email">
                            </div>
                            <div class="form-group col-4">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control mr-1" name="password"
                                    [(ngModel)]="createUser.password" placeholder="Password">
                            </div>
                            <div class="form-group col-4">
                                <label class="sr-only" for="confirmPassword">Confirm the Passwod</label>
                                <input type="password" class="form-control mr-1" name="confirmPassword"
                                    [(ngModel)]="createUser.confirmPassword" placeholder="Confirm the Password">
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary ml-auto"
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary ml-1">Create Account</button>
                        </div>
                        <div class="form-group col-12">
                            <span id="resCreateMessage"></span>
                        </div>
                        <div class="form-group col-12">
                            <span id="resErrorsCreateMessage"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>