.flex-container .flex-cotainer-item {
    background-color: #4d3939;
    width: 400px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.item-container {
    position: relative;
    width: 275px;
    height: 350px;
    margin: 50px 50px;
    background-color: cornsilk;
}

img {
    width: 235px;
    left: 0px;
    top: 0px;
    height: 250px;
    position: absolute;
    z-index: -1; 
    cursor: pointer;
}

.image-container {
    position: relative;
    left: 20px;
    top: 20px;
    width: 235px;
    height: 250px;
    z-index: 3;
}

.zoom {
    transition: transform 2s;
}
  
.zoom:hover {
    -ms-transform: scale(1.105); /* IE 9 */
    -webkit-transform: scale(1.105); /* Safari 3-8 */
    transform: scale(1.08); 
}

.description-center {
    position: absolute;
    width: 100%;
    top: 280px;
    font-size: 18px;
}

.description-center-pa {
    position: absolute;
    bottom: 5px;
    font-size: 18px;
    width: 100%;
}

.del {
    position: absolute;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: none;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 4;
}