body {
    padding-top: 160px;
    padding-bottom: 20px;
    background-color: darkgray;
}

.img-container { 
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    
}

.img-div {
    height: 550px;
    width: 950px;
    position: relative;
    background-color: cornsilk;
}

.description {
    position: absolute;
    left: 540px;
    top: 20px;
}

.form-description {
    width: 370px;
    justify-self: center;
}

img { 
    height: 550px;
    width: 510px;
}

.edit {
    position: absolute;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: none;
    top: 0px;
    right: 0px;
    padding-right: 2px;
    padding-left: 6px;
    padding-bottom: 3px;
    cursor: pointer;
    z-index: 4;
}